html,body{
  width :100%;
  height:100%;
}

#container{
  width:100%;
  height:100%;
  display: flex;
  flex-flow: column;
}

#header{
  flex:0 1 150px;
}

#contents{
  flex:1 3 480px;
}

#footer{
  flex:0 1 150px;
}